parameters:
    database_driver:   pdo_mysql
    database_host:     mysql
    database_port:     3306
    database_name:     symfony2
    database_user:     symfony2
    database_password: symfony2

    mailer_transport:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    travel_distance: 2000 #km
    earth_radius: 6371 #km

